<%- include('fragments/head.ejs')%>



<%- include('fragments/navigation.ejs')%>

<main>
    <div class="presentation">
        <h1>Erreur 404</h1>
        <p>La ressource demandée n'existe pas</p>
        <a href="/">retourner à l'accueil</a>
    </div>
</main>
</body>
<%- include('fragments/foot.ejs')%>