<%- include('fragments/head') %>
<%- include('fragments/navigation') %>
<main>
    <div class="login-container">
        <h1 style="color: rgba(57, 57, 57, 0.927); margin-bottom: 20px; text-align: center;">Connexion au service</h1>
        <fieldset>
            <legend>Authentification</legend>
            <% if (locals.error) { %>
                <p style="color: #AD0000; border: 1px solid #AD0000; padding: 10px;">
                    <%= error %>
                </p>
            <% } %>
            <form method='post' action="/auth">
                <label for='username'>Nom d'utilisateur</label>
                <input type='text' name='username' id='username' placeholder='Nom utilisateur' required>

                <div class="password-container">
                    <label for='password'>Mot de passe</label>
                    <input type='password' name='password' id='password' placeholder='Mot de passe' required>
                    <button type="button" id="togglePassword">👁️</button>
                </div>
                <input type='submit' name='ok' value='Se connecter'>
                <br>
            </form>
        </fieldset>
    </div>
</main>
<script src="/js/login.js"></script>
<%- include('fragments/foot') %>