<%- include('fragments/head') %>
<%- include('fragments/navigation') %>

<main>
    <div class="login-container">
        <h1 style="color: rgba(57, 57, 57, 0.927); margin-bottom: 20px; text-align: center;">Inscription au service</h1>
        <fieldset>
            <legend>Inscription</legend>
            <form method='post' action="/register">
                <label for='username'>Nom d'utilisateur</label>
                <input type='text' name='username' id='username' placeholder='Choisir un pseudo' required>

                <div class="password-container">
                    <label for='password'>Mot de passe</label>
                    <input type='password' name='password' id='password' placeholder='Mot de passe' required>
                    
                    <div id="password-constraints" class="constraints-list">
                        <div id="length" class="invalid">✖ 8 caractères minimum</div>
                        <div id="majuscule" class="invalid">✖ Au moins 1 majuscule</div>
                        <div id="minuscule" class="invalid">✖ Au moins 1 minuscule</div>
                        <div id="chiffre" class="invalid">✖ Au moins 1 chiffre</div>
                        <div id="special" class="invalid">✖ Au moins 1 caractère spécial (%?*#!)</div>
                        <div id="match" class="invalid">✖ Mots de passe identiques</div>
                    </div>
                </div>

                <div class="password-container">
                    <label for='confirmPassword'>Confirmer le mot de passe</label>
                    <input type='password' name='confirmPassword' id='confirmPassword' placeholder='Confirmer' required>
                </div>

                <input type='submit' id="submit" value="S'inscrire" disabled>
            </form>
            <p>Déjà un compte ? <a href="/auth">Connectez-vous</a></p>
        </fieldset>
    </div>
</main>

<script src="/js/registerValidation.js"></script>

<%- include('fragments/foot') %>