<body>
    <header>
        <nav>

            <div class ="logo">
                <a href="/">
                    <img class="logo-img" src="/images/logo.png" alt="Logo de CoreLab">
                </a>
            </div>
            <ul class="nav-btn">
                
                <% if (isLog) { %>
                    <li><a href="/admin/ajout">module</a></li>
                    <li><a href="/out">Déconnexion</a></li>
                <% } else { %>
                    <li><a href="/auth">Connexion</a></li>
                    <li><a href="/register">Inscription</a></li>
                <% } %>
            </ul>
        </nav>
    </header>